body{
  font-family: arial,sans-serif;
}
.box{
  margin:20em 20em;
  width:80%;
}

.box input,button,li{
  font-size: 2em;
}

.box ul{
  list-style: none;
  padding-left:0;

}

.box li{
  background: rgb(226, 226, 226);

}
